# AWS Configuration
aws_region = "us-east-1"

# Project
project_name = "aws-file-upload"

# Networking
vpc_cidr           = "10.0.0.0/16"
public_subnet_cidr = "10.0.1.0/24"
availability_zone  = "us-east-1a"

# Security
allowed_ssh_cidr = "YOUR_PUBLIC_IP/32"

# EC2
instance_type = "t2.micro"
key_name      = "your-key-name"

# S3
bucket_name = "your-bucker-name"

# SNS
notification_email = "your-email@example.com"

# GitHub Repository
github_repo = "https://github.com/vijayvw/aws-event-driven-file-upload.git"
